body{
   background-color: white;
}
input{
   width: 250px;
   font-size: 18px;
}
button{
   width: 150px;
   height: 40px;
   color: white;
   border-radius: 3px;
   border-style: solid;
   border-width: 1px;
}
.btn-box{
   margin-top: 20px;
}
.chocolate{
   background-color: brown;
}
.strawberry{
   background-color: #E91E63;
}
.plain{
   background-color:wheat;
}